<section class="widget widget-recent-article col s12 m12 l12">
    <h4 class="widget-title">
        {{with .Site.Data.widgets.recent_articles.title}}{{.}}{{end}}
    </h4>
    <ul class="article-list">
        {{ range first .Site.Data.widgets.recent_articles.number (where .Site.Pages "Type" "post") }}
            <li class="item">
                <a href="{{ .RelPermalink }}" class="row">
                    <div class="item-thumbnail col s4 m3 l4">
                        {{ if isset .Params "images" }}
                            <img class="responsive-img" src="{{ partial "fragments/page_image_path" (dict "src" (index .Params.images 0) "size" "thumbnail" "page" .) | relURL }}" alt="{{ .Title }}">
                        {{else}}
                            <img class="responsive-img" src="{{ "/img/no_image.png" | relURL }}" alt="no image">
                        {{ end }}
                    </div>
                    <div class="item-body col s8 m9 l8">
                        <div class="item-title">{{ .Title }}</div>
                        <div class="item-date">
                            <time>{{ .Date.Format .Site.Params.date_format }}</time>
                        </div>
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
</section>
