<!-- CSS 遅延読み込み -->
<script>
requestAnimationFrame(function() {
    var h = document.getElementsByTagName('link')[0];

    // lightbox
    var l = document.createElement('link');
    l.rel = 'stylesheet';
    l.href = '{{ "lightbox2/dist/css/lightbox.min.css" | relURL }}';
    h.parentNode.insertBefore(l, h);
});
</script>

<!-- materialize には jQuery が必要 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="{{ "/js/style.js" | relURL }}"></script>
<script src="{{ "/lightbox2/dist/js/lightbox.min.js" | relURL }}"></script>

{{ template "_internal/google_analytics_async.html" . }}

</body>
</html>
