<header>
    <nav>
        <div class="container">
            <a href="{{ "/" | relURL }}" class="brand-logo">{{ .Site.Title }}</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown-list">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ "/about" | relURL }}">about</a></li>
            </ul>
            <a href="#" data-activates="sidebar" class="right button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
        </div>
        <ul id="dropdown-list" class="dropdown-content">
            <li><a href="{{ "/page1/" | relURL }}">page1</a></li>
            <li><a href="{{ "/page2/" | relURL }}">page2</a></li>
            <li><a href="{{ "/page3/" | relURL }}">page3</a></li>
        </ul>
    </nav>
</header>
