<header>
    <nav>
        <div class="container">
            <a href="{{ "/" | relURL }}" class="brand-logo">{{ .Site.Title }}</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown-products">Products<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ "/about" | relURL }}">about</a></li>
            </ul>
            <a href="#" data-activates="sidebar" class="right button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
        </div>
        <ul id="dropdown-products" class="dropdown-content">
            <li><a href="{{ "/kinowiki2" | relURL }}">KinoWiki2</a></li>
            <li><a href="{{ "/jisaku-techo-v1-0" | relURL }}">自作手帳</a></li>
            <li><a href="https://ci-trans-jp.gitlab.io/user_guide_4_jp/">CodeIgniter4日本語訳</a></li>
        </ul>
    </nav>
</header>
