{{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
  <article class="article-list-item">
    {{ if isset .Params "images" }}
      <a href="{{ .RelPermalink }}"><img src="{{ partial "fragments/page_image_path" (dict "src" (index .Params.images 0) "size" "thumbnail" "page" .) | relURL }}"></a>
    {{ end }}

    <a class="title" href="{{ .RelPermalink }}">
      <h2>{{ .Title }}</h2>
    </a>
    {{ partial "post_meta_top" . }}

    <div class="article-body">
      {{ .Summary }}
    </div>

    {{ if .Truncated }}
      <a class="btn" href="{{ .RelPermalink }}">
        {{with .Site.Data.articles.read_more}}{{.}}{{end}}
      </a>
    {{ end }}
  </article>
{{ end }}

{{ partial "pagination" . }}
