<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.site_description }}{{ end }}">
{{ if and .IsPage (isset .Params "images") }}
    <meta property="og:image" content="{{ partial "fragments/page_image_path" (dict "src" (index .Params.images 0) "size" "ogp" "page" .) | absURL }}">
{{ else }}
    <meta property="og:image" content="{{ partial "fragments/path_with_hash" (dict "dir" "public/" "path" "img/ogp.jpg") | absURL }}">
{{ end }}
