{{/*
    src : 画像ファイル名
    size : 画像サイズ
    title : alt属性など
    タグ内部 : キャプション

*/}}
<div class="card image-{{ .Get "size" | default "asis" }}">
    <div class="card-image">
        {{ if .Get "href" }}
            <a href="{{ .Get "href" }}">
        {{ else }}
            <a href="{{ partial "fragments/page_image_path" (dict "src" (.Get "src") "size" "max" "page" .Page) | relURL }}" data-lightbox="card-image"{{ with .Inner }} data-title="{{ . }}"{{ end }}>
        {{ end }}
            <img src="{{ partial "fragments/page_image_path" (dict "src" (.Get "src") "size" (.Get "size" | default "asis") "page" .Page) | relURL }}"{{ with .Get "title" }} alt="{{ . }}"{{ end }}>
        </a>
        {{ with .Get "title" }}
            <span class="card-title">{{ . }}</span>
        {{ end }}
    </div>
    {{ with .Inner }}
        <div class="card-content">{{ . }}</div>
    {{ end }}
</div>
