{{ $class   := "asis" }}
{{ $size    := "1360x1360" }}
{{ $maxsize := "1360x1360" }}
{{ if .Get "src" }}
    {{ $class := "asis" }}
    {{ $size  := "1360x1360" }}
{{ end }}

<div class="card {{ $class }}">
    <div class="card-image">
        <a href="{{ partial "fragments/attach_dir" . }}{{ .Get "src" }}.{{ $maxsize }}.{{ substr (.Get "src") -1 3 }}?{{ partial "fragments/hash_content" (delimit (slice (partial "fragments/attach_dir" .) (.Get "src")) "") }}" data-lightbox="card-image"{{ with .Inner }} data-title="{{ . }}"{{ end }}>
            <img src="{{ partial "fragments/attach_dir" . }}{{ .Get "src" }}.{{ $size }}.{{ substr (.Get "src") -1 3 }}?{{ partial "fragments/hash_content" (delimit (slice (partial "fragments/attach_dir" .) (.Get "src")) "") }}"{{ with .Get "title" }} alt="{{ . }}"{{ end }}>
        </a>
        {{ with .Get "title" }}
            <span class="card-title">{{ . }}</span>
        {{ end }}
    </div>
    {{ with .Inner }}
        <div class="card-content">{{ . }}</div>
    {{ end }}
</div>
